<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Portfolio do Luan</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">
    </head>

    <body class="bg-[#001F3F]">
    <header class="bg-[#001F3F] text-[#DDDAD0] font-[Lora]">
        <div class="container mx-auto px-30 py-15 flex justify-between items-center">
            <a href="{{ url_for('home') }}" class="text-2xl ">Luan Bergamini</a>

            <div class="hidden md:flex items-center space-x-8 text-lg">
                <a href="mailto:bergaminilucas7@gmail.com" class="text-brand-accent hover:underline">
                    bergaminilucas7@gmail.com
                </a>

                <a href="https://github.com/Luanzinhob5" target="_blank" aria-label="GitHub">
                    <i class="fab fa-github"></i>
                </a>

                <a href="https://www.linkedin.com/in/luan-bergamini-soares-5370252b8/?trk=opento_sprofile_topcard" target="_blank" aria-label="LinkedIn">
                    <i class="fab fa-linkedin"></i>
                </a>

                
            </div>     
        </div>
    </header>
    

    