@import "tailwindcss";

body, html {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



                    /* Estilo do header.html */
.navbar {
    background-color: #333;
    padding: 1rem 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    
    /* Fixa a barra no topo */
    position: sticky; /* Fica no lugar até o scroll passar por ela, depois fixa */
    top: 0;
    width: 100%;
    z-index: 1000; /* Deixa a Navbar sobre outros elementos */
}


.navbar .container {
    display: flex;
    justify-content: space-between; /* Empurra os dois grupos de botoes para as extremidades */
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


.navbar-links{
    list-style: none; /* Remove as bolinhas da lista */
    margin: 0;
    padding: 0;
    display: flex; /* Coloca os itens lado a lado */
    gap: 20px; /* Espaçamento entre os links */
}

/* Estilo dos links da pagina e das redes sociais */
.navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Transição suave para o hover */
}

/* Efeito ao passar o mouse sobre o link */
.navbar-links a:hover{
    background-color: #555; /* Cor de fundo ao passar o mouse */
}


.navbar-social-media {
    list-style: none; /* Remove as bolinhas da lista */
    margin: 0;
    padding: 0;
    display: flex; /* Coloca os itens lado a lado */
    gap: 20px; /* Espaçamento entre os links */
}

.navbar-social-media a{
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Transição suave para o hover */
}

/* Efeito ao passar o mouse sobre o link */
.navbar-social-media a:hover {
    background-color: #555; /* Cor de fundo ao passar o mouse */
}



                    /* Estilo do home.html */
.plano-de-fundo-inicio{
    height: 100vh;
    width: 100%;

    background-image: url("../img/img-prog-qualidade.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;


    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    
    padding: 0 20px;
}

.plano-de-fundo-inicio-conteudo h1 {
    font-size: 3.5em;
}


                    /* Estilo do sobre.html */
